@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    *{
        @apply box-border p-0 m-0
    }
 
    b{
        @apply text-colordark
    }
   
    .link{
        @apply relative transition-all duration-300 ease-in-out text-slate-600;
        backface-visibility: hidden;
    }

    .link:hover{
        @apply text-slate-900 md:bg-gray-200 bg-none 
    }
    .logout{
        @apply text-danger
    }
    .logout:hover{
        @apply text-danger
    }
    .logout:active{
        @apply text-danger bg-colorlight 
    }
    
    .courses{
        @apply flex flex-col p-3 bg-white w-full
        space-y-3 font-mono  rounded-lg shadow-md
    }
    .insights{
        @apply  overflow-x-hidden
    }
     .middle {
        @apply flex justify-between
     }
     .course-icons{
        @apply bg-primary rounded-lg p-2 text-white 
     }
     .link h3{
        @apply hidden md:block
     }
     .toggles:hover .toggle-2{
        @apply bg-primary
     }
        .toggles:hover .toggle-1{
            @apply bg-primary
        }
        .calcput{
            @apply w-full bg-white text-colordark focus:outline-none
            ring-2 ring-slate-700
        }
        .btn{
            @apply bg-colorlight rounded-full text-center
        }
        .btn-2{
            
        }
     
        .icon-announcement{
            clip-path: polygon(0 29%, 0% 100%, 64% 63%);
        }
       
          
          .groupBar{
            clip-path:circle(40px at 100% -10%);
          }
          .select_participant{
            @apply focus:outline-none block border mb-3 px-2 py-2 w-full md:w-1/2 focus:ring-1 focus:ring-blue-500
          }
        .clip_nav{
            
            clip-path: circle(40px at 50% );
        }
        .table-row_style{
            @apply p-3 text-gray-700 whitespace-nowrap cursor-pointer hover:underline
        }
        .course-btn_delete{
            @apply bg-slate-900 text-white py-1 px-4 rounded-lg cursor-pointer focus:outline-none
            focus:ring-2 focus:ring-gray-400
          focus:ring-opacity-50 transition-colors duration-300
        }
        .header__container{
            @apply flex justify-between 
             bg-white p-4
            border-b-2 border-green-500
            rounded-sm text-white shadow-md items-center
            w-full
        }
        .create-post__input{
            @apply w-full px-4 py-2 focus:outline-none border-b-2 border-gray-300 focus:border-slate-500  bg-gray-100
        }
        .hero-section{
            clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
        }
}